.DS_Store
/README.md

/assets/*
!/assets/a01.jpg
!/assets/a02.jpg
!/assets/a03.svg
!/assets/a04.jpg
!/assets/a05.png
!/assets/a06.png
!/assets/a07.png
!/assets/a08.png
!/assets/a09.png
!/assets/a10.jpg
!/assets/a11.svg
!/assets/a12.jpg
!/assets/a13.jpg
!/assets/a14.png
!/assets/d01.pdf
!/assets/f.svg
!/assets/m/
/assets/m/*
!/assets/m/m01.mp4
!/assets/m/m02.mp4
!/assets/m/m03.mp4
!/assets/m/m04.mp4
!/assets/m/m05.mp4
!/assets/m/m06.mp4
